*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: green;
}
h4{
    color: green;
    text-align: center;
}
.box1{ width: 100px;
    height: 100px;
    background-color: blue;
    
    animation-name: hoverBox;
    animation-duration: 3s;
    animation-iteration-count: 1;
    
    
}
.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    
    animation-name: hoverBox;
    animation-duration: 4s;
    animation-iteration-count: 1;
    

}
.box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    
    animation-name: hoverBox;
    animation-duration: 5s;
    animation-iteration-count: 1;

}
 .container{
    display: flex;
    gap: 20px;
    justify-content: center;
    
    

 }  
 @keyframes hoverBox {
    0%{transform: rotate(0deg);

    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(-90deg);
    }
 }
 
 