*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    
    
}
.box1{
    height: 150px;
    width: 150px;
    background-color:lightcoral;
    position: absolute;
transition: all 5s linear;
    
}
.box2{
    height: 105px;
    width: 105px;
    background-color:green;
    margin-left: 25px;
position: relative;
top: 23px;
transition: all 4s linear;
}

.box3{
    height: 60px;
    width: 60px;
    background-color: blue;
    margin-left: 20%;
    position: relative;
    top: 20px;
    transition: all 3s linear;
}
.box1:hover{
    transform: rotate(180deg);

}
.box2:hover{
    transform: rotate(180deg);
}
.box3:hover{
    transform: rotate(180deg);
}
    

